.pedido{
    padding: 150px;
    font-weight: 900;
    background: #fff;
    text-align: center;

  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 18%) 0px 2px 6px;
  margin: 30px;
}



.botao{
    margin: 30px;
    font-size: 20px;
    :hover{
        cursor: pointer;
}}

